<p id="notice"><%= notice %></p>

<h1>Listing Dedoches</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Stock</th>
      <th>Image</th>
      <th>Code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dedoches.each do |dedoch| %>
      <tr>
        <td><%= dedoch.name %></td>
        <td><%= dedoch.description %></td>
        <td><%= dedoch.price %></td>
        <td><%= dedoch.stock %></td>
        <td><%= dedoch.image %></td>
        <td><%= dedoch.code %></td>
        <td><%= link_to 'Show', dedoch %></td>
      </tr>
    <% end %>
  </tbody>
</table>