<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dedoch.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @dedoch.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @dedoch.price %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @dedoch.stock %>
</p>

<p>
  <strong>Image:</strong>
  <%= @dedoch.image %>
</p>

<p>
  <strong>Code:</strong>
  <%= @dedoch.code %>
</p>

<%= link_to 'Back', dedoches_path %>
